<div class='container-fluid'>  
  <!--  <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-success">  
            <marquee>Welcome to the Desi Shop Himani Baviskar  </marquee>
        </div>  
    </div>  
    -->
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../assets/images/pexels-photo-1458694.jpeg" alt="Delhi Metro">  
                <div class="carousel-caption text-start">
                    <h1>Quality</h1>
                    <p>Helping you to lower the cost of your shopping basket without compromising on quality.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                  </div> 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://images.pexels.com/photos/3962285/pexels-photo-3962285.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Bangalore Metro">  
                <div class="carousel-caption text-start">
                    <h1>Customer Satisfaction</h1>
                    <p>We help our customers save money and live better with our range of own brand products, many of which are award winning. View the ranges below.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                  </div> 
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://images.pexels.com/photos/2295198/pexels-photo-2295198.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Channai Metro">  
                <div class="carousel-caption text-start">
                    <h1>Smart Price</h1>
                    <p> The smartest choice for basic essentials at our lowest price.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Shop smart price</a></p>
                  </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://images.pexels.com/photos/760281/pexels-photo-760281.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Jaipur Metro">  
                <div class="carousel-caption text-start">
                    <h1>Quality</h1>
                    <p>Helping you to lower the cost of your shopping basket without compromising on quality.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                  </div> 
            </ng-template> 
            <ng-template ngbSlide>  
                <img src="https://images.pexels.com/photos/3985062/pexels-photo-3985062.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Jaipur Metro">  
                <div class="carousel-caption text-start">
                    <h1>Extra Special</h1>
                    <p>We use quality ingredients to create the best tasting products for your everyday and big day occasions.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Shop extra special</a></p>
                  </div>
            </ng-template>   
            <ng-template ngbSlide>  
                <img src="../assets/images/pexels-photo-65174.jpeg" alt="Mumbai Metro">  
                <div class="carousel-caption text-start">
                    <h1>Quality</h1>
                    <p>Helping you to lower the cost of your shopping basket without compromising on quality.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                  </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://images.pexels.com/photos/207247/pexels-photo-207247.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Mumbai Metro">  
                <div class="carousel-caption text-start">
                    <h1>Farm Stores</h1>
                    <p>Affordable prices on good quality meat and produce allowing you to enjoy fresh food no matter how small your budget.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Shop farm stores</a></p>
                  </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://images.pexels.com/photos/5859229/pexels-photo-5859229.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Mumbai Metro">  
                <div class="carousel-caption text-start">
                    <h1>Little Angles</h1>
                    <p>A range of everyday baby care essentials you can rely on as we truly understand what it's like to be a parent today.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Shop little angles</a></p>
                  </div>
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://images.pexels.com/photos/3820994/pexels-photo-3820994.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Mumbai Metro">  
                <div class="carousel-caption text-start">
                    <h1>Fresh Flowers</h1>
                    <p>A range of everyday baby care essentials you can rely on as we truly understand what it's like to be a parent today.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Shop little angles</a></p>
                  </div>
            </ng-template>  
        </ngb-carousel>  
    </div>  
  
</div>  

<hr>
